.rooms-list {
  height: 400px;
}

.chat-messages {
  height: 400px;
  overflow: auto;
}

.chat-input {
  width: 80%;
}

.chat-input-button {
  width: 20%;
}

.form-control:focus{
  box-shadow: none;
}

.room-name {
  font-family: 'Playfair Display', serif;
}

.welcome {
  font-family: 'Nunito', sans-serif;
}

.last-message {
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  .app-container {
    height: 100px;
  }
}